In [464]:
import pandas as pd
import re

In [465]:
df = pd.read_csv(r'F:\GUVI_DATA_SCIENCE\Project\Myntra-T-Shirt-Image-Extraction-Application\Datasets\myntra_dataset.csv')
print(df.shape)

(998, 8)

In [466]:
df.sample()

,brand,desc,overall_rating,rating_count,original_price,discount_price,offer_percentage,image_url
5,Roadster,Men Charcoal Melange Graphic Printed T-shirt,4.1\n|\n29.8k Ratings,29.8k Ratings,MRP ₹699,₹216,(69% OFF),"background-image: url(""https://assets.myntasse..."

In [467]:
# Checking for null values
df.isnull().sum()

brand               0
desc                0
overall_rating      0
rating_count        0
original_price      0
discount_price      0
offer_percentage    0
image_url           0
dtype: int64

In [468]:
query_df = df.query("overall_rating != 'Nil' and rating_count != 'Nil'").reset_index(drop = True)
query_df

,brand,desc,overall_rating,rating_count,original_price,discount_price,offer_percentage,image_url
0,Roadster,Men Grey Melange & Black Colourblocked T-shirt,4\n|\n10.7k Ratings,10.7k Ratings,MRP ₹699,₹202,(71% OFF),"background-image: url(""https://assets.myntasse..."
1,Roadster,Men Green White Colourblocked Round Neck Pure ...,4.2\n|\n3.2k Ratings,3.2k Ratings,MRP ₹699,₹209,(70% OFF),"background-image: url(""https://assets.myntasse..."
2,Roadster,Men Navy Solid Round Neck T-shirt,4\n|\n16.9k Ratings,16.9k Ratings,MRP ₹499,₹194,(61% OFF),"background-image: url(""https://assets.myntasse..."
3,Roadster,Men White Mustard Yellow Colourblocked Round N...,4.2\n|\n3.2k Ratings,3.2k Ratings,MRP ₹999,₹299,(70% OFF),"background-image: url(""https://assets.myntasse..."
4,Roadster,Men Off White Melange Solid Round Neck Regular...,4\n|\n9.6k Ratings,9.6k Ratings,MRP ₹499,₹199,( 60 % OFF),"background-image: url(""https://assets.myntasse..."
...,...,...,...,...,...,...,...,...
713,Tommy Hilfiger,Pure Cotton Brand Logo Printed Casual T-shirt,4.8\n|\n6 Ratings,6 Ratings,MRP ₹2499,₹1999,(20% OFF),"background-image: url(""https://assets.myntasse..."
714,Tommy Hilfiger,Men Brand Logo Printed Pure Cotton T-shirt,4.6\n|\n8 Ratings,8 Ratings,MRP ₹3599,₹1799,(50% OFF),"background-image: url(""https://assets.myntasse..."
715,Tommy Hilfiger,Men Pure Cotton Solid T-shirt With Chest Pocket,3.9\n|\n10 Ratings,10 Ratings,MRP ₹2499,₹1499,(40% OFF),"background-image: url(""https://assets.myntasse..."
716,Tommy Hilfiger,Brand Logo Printed Pure Cotton T-shirt,3.7\n|\n6 Ratings,6 Ratings,MRP ₹2399,₹1799,(25% OFF),"background-image: url(""https://assets.myntasse..."
717,Tommy Hilfiger,Brand Logo Embroidered Pure Cotton T-shirt,4\n|\n5 Ratings,5 Ratings,MRP ₹2399,₹1799,(25% OFF),"background-image: url(""https://assets.myntasse..."

In [469]:
query_df.shape

(718, 8)

In [470]:
# Checking for duplicates
query_df.duplicated().sum()

43

In [471]:
new_df = query_df.drop_duplicates()
new_df.duplicated().sum()

0

In [472]:
# Text processing

def overall_rating(i):
    if i[1] == '.':
        rating = i[:3]
        return float(rating)
    else:
        rating = i[0]
        return float(rating)


def rating_count(i):
    count = re.sub(r'[Ratings]', '',i)
    return count


def multiply_thousands(i):
    if 'k' in i:
        count = float(i.replace('k',''))
        return count*1000

    else:
        return float(i)


def original_price(i):
    org_price = re.sub('MRP ₹|Rs. ', '', i)
    return float(org_price)


def discount_price(i):
    dis_price = re.sub('₹|Rs. ', '', i)
    return float(dis_price)


def offer_percentage(i):
    off_percent = re.sub(r'[OFF%()]', '',i)
    return off_percent


def image_url(i):
    url = i[23:len(i)-3]
    return url

In [473]:
new_df['overall_rating'] = new_df['overall_rating'].apply(overall_rating)

new_df['rating_count'] = new_df['rating_count'].apply(rating_count)

new_df['rating_count']  = new_df['rating_count'].apply(multiply_thousands)

new_df['original_price'] = new_df['original_price'].apply(original_price)

new_df['discount_price'] = new_df['discount_price'].apply(discount_price)

new_df['offer_percentage'] = new_df['offer_percentage'].apply(offer_percentage)

new_df['image_url'] = new_df['image_url'].apply(image_url)

C:\Users\Sukumar\AppData\Local\Temp\ipykernel_9480\1957761679.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['overall_rating'] = new_df['overall_rating'].apply(overall_rating)
C:\Users\Sukumar\AppData\Local\Temp\ipykernel_9480\1957761679.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['rating_count'] = new_df['rating_count'].apply(rating_count)
C:\Users\Sukumar\AppData\Local\Temp\ipykernel_9480\1957761679.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['rating_count']  = new_df['rating_count'].apply(multiply_thousands)
C:\Users\Sukumar\AppData\Local\Temp\ipykernel_9480\1957761679.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['original_price'] = new_df['original_price'].apply(original_price)
C:\Users\Sukumar\AppData\Local\Temp\ipykernel_9480\1957761679.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['discount_price'] = new_df['discount_price'].apply(discount_price)
C:\Users\Sukumar\AppData\Local\Temp\ipykernel_9480\1957761679.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['offer_percentage'] = new_df['offer_percentage'].apply(offer_percentage)
C:\Users\Sukumar\AppData\Local\Temp\ipykernel_9480\1957761679.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['image_url'] = new_df['image_url'].apply(image_url)

In [474]:
new_df.rename(columns = {'desc':'description', 'original_price':'original_price(Rs)', 'discount_price':'discount_price(Rs)', 'offer_percentage':'offer_percentage(%)'}, inplace = True)

C:\Users\Sukumar\AppData\Local\Temp\ipykernel_9480\182033283.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df.rename(columns = {'desc':'description', 'original_price':'original_price(Rs)', 'discount_price':'discount_price(Rs)', 'offer_percentage':'offer_percentage(%)'}, inplace = True)

In [475]:
new_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 675 entries, 0 to 717
Data columns (total 8 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   brand                675 non-null    object
 1   description          675 non-null    object
 2   overall_rating       675 non-null    float64
 3   rating_count         675 non-null    float64
 4   original_price(Rs)   675 non-null    float64
 5   discount_price(Rs)   675 non-null    float64
 6   offer_percentage(%)  675 non-null    object
 7   image_url            675 non-null    object
dtypes: float64(4), object(4)
memory usage: 47.5+ KB

In [476]:
new_df.to_csv(r'F:\GUVI_DATA_SCIENCE\Project\Myntra-T-Shirt-Image-Extraction-Application\Datasets\myntra_processed_dataset.csv', index = False)